<div class="container">
  <h1>Welcome to Safe Swap!</h1>
  <h3>Concept:</h3>
  <p>A site that can provide a better alternative to Craigslist for selling your electronic devices.</p>
  <h3>Status:</h3>
  <p>Currently a project to apply learned web development.</p>
</div>